
<body>
    <h1>Add</h1>
    <form name="form1" method="POST" action="/add">
    <table>
        <tr>
        <td>Enter</td>
        <br>
        <td><input type="text" name="fname" style="height:300px;width:1200px"/></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
    </table>
    </form>   
 
</body>
